<component name="libraryTable">
  <library name="spring-webmvc-2.0-m1">
    <ANNOTATIONS>
      <root url="jar://$PROJECT_DIR$/.idea/libraries/spring-webmvc-2.0-m1.jar!/" />
    </ANNOTATIONS>
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/.idea/libraries/spring-webmvc-2.0-m1.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/.idea/libraries/spring-webmvc-2.0-m1.jar!/" />
    </JAVADOC>
    <NATIVE>
      <root url="jar://$PROJECT_DIR$/.idea/libraries/spring-webmvc-2.0-m1.jar!/" />
    </NATIVE>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/.idea/libraries/spring-webmvc-2.0-m1.jar!/" />
    </SOURCES>
    <jarDirectory url="jar://$PROJECT_DIR$/.idea/libraries/spring-webmvc-2.0-m1.jar!/" recursive="false" />
    <jarDirectory url="jar://$PROJECT_DIR$/.idea/libraries/spring-webmvc-2.0-m1.jar!/" recursive="false" type="SOURCES" />
  </library>
</component>